#!/bin/bash
set -e

KANATA_BIN=$(which kanata)
CONFIG_PATH="{{ .chezmoi.homeDir }}/.config/kanata/kanata.kbd"
PLIST_PATH="/Library/LaunchDaemons/com.kanata.daemon.plist"

echo "$(whoami) ALL=(root) NOPASSWD: /bin/launchctl, /usr/sbin/chown, /bin/chmod" \
  | sudo tee /etc/sudoers.d/kanata

sudo tee "$PLIST_PATH" > /dev/null << EOF
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kanata.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>${KANATA_BIN}</string>
        <string>--cfg</string>
        <string>${CONFIG_PATH}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>Crashed</key><true/>
        <key>SuccessfulExit</key><false/>
    </dict>
    <key>StandardOutPath</key>
    <string>/var/log/kanata.out.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/kanata.err.log</string>
</dict>
</plist>
EOF

sudo chown root:wheel "$PLIST_PATH"
sudo chmod 644 "$PLIST_PATH"

# bootstrap if not already loaded
if ! sudo launchctl list | grep -q "com.kanata.daemon"; then
    sudo launchctl bootstrap system "$PLIST_PATH"
fi
